@page

@model Pages.Products.ProductsModel
@using MyShop.Models
@{

}

<div class="product-grid">
    <h1>Admin-Interface</h1>
    <p>This is the admin landing page.</p>

    <p>Click <a href="/Products/Products"><button class="btn btn-success">HERE</button></a> here to create new Items</p>

    <p>Click <a href="/Products/AdminProducts"><button>PRODUCTS</button></a> to view available Items</p>
</div>
