html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* General form container styling */
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Form heading */
.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

/* Input fields styling */
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Submit button styling */
.form-container input[type="submit"] {
  background-color: #28a745;
  color: blue;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
  background-color: green;
}


/* Form labels */
.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

/* Optional: Add spacing between form fields */
.form-group {
  margin-bottom: 15px;
}

.product-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-info {
  padding: 10px;
}

.product-info h2 {
  font-size: 18px;
  color: #333;
}

.product-info p {
  color: #666;
  font-size: 14px;
  margin: 5px 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


