@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Hardwhite Motor-Enterprise</p>
    <p>Click <a href="/Products/ProductsList"><button type="button" class="btn btn-success">HERE</button></a> to view list of available items</p>
    

</div>

