@page
@model MyApp.Namespace.StripeCheckoutModel

@using MyApp.Namespace
@using Stripe

<h2>Payment Confirmation</h2>

<p>Your Payment has been successfully processed</p>

<p>Thank you for trading with us</p>

